@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);


/*-- Títulos --*/
.sliderH3 {
    color: white!important;
    font-size: 40px!important;
}

.sliderP{
    color: white!important;
    font-size: 18px!important;
}


/*-- Botões --*/

.btn-primary-image {
    background-color: white;
}

/*-- Portfolio: imagens --*/

.img-responsive {
    min-width: 100% !important;
}

img.img-responsive {
    height: -webkit-fill-available;
}

/*-- Section: mensagens --*/
#messageCatDetail {
    padding-bottom: 260px;
    padding-top: 260px;
}